<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Authentication failed</title>
</head>
<body>
    <h2>Authentication Failure</h2>
    <h3>Please try again</h3>
    <a href="<%= url %>"><button>Back</button></a>
</body>
</html>