body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.nav_menu ul li {
  display: inline-block;
  margin-left: 20px;
}

a {
  font-size: 17px;
}

a:link, a:visited {
  color: #0f0f58;
}

a:hover {
  color: #7c7cd3;
}

a:active {
  color: #4e4e88;
}

.appList {
  list-style: none;
}

.tvshow_image {
  height: 600px;
  width: 500px;
}